---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/genreForms/gf2011026056
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://id.loc.gov/authorities/genreForms/gf2011026056
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 10 Jun 2026 15:40:06 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/genreForms/gf2011026056
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - https://id.loc.gov/authorities/genreForms/gf2011026056.jsonld
      X-Uri:
      - http://id.loc.gov/authorities/genreForms/gf2011026056
      X-Preflabel:
      - Astronomical models
      X-Preflabel-Escaped:
      - Astronomical models
      X-Preflabel-Encoded:
      - Astronomical%20models
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Jun 2026 15:40:06 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/genreForms/gf2011026056.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      X-Preflabel:
      - Astronomical models
      X-Preflabel-Escaped:
      - Astronomical models
      X-Preflabel-Encoded:
      - Astronomical%20models
      X-Uri:
      - http://id.loc.gov/authorities/genreFor[...]
