---
http_interactions:
- request:
    method: get
    uri: https://vocab.getty.edu/tgn/7017665
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Profile:
      - "<http://www.w3.org/2004/02/skos/core#>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      content-disposition:
      - attachment; filename="tgn_7017665.json"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "Subject", "Predicate", "Object" ]
          },
          "results" : {
            "bindings" : [ {
              "Subject" : {
                "type" : "uri",
                "value" : "http://vocab.getty.edu/tgn/7017665"
              },
              "Predicate" : {
                "type" : "uri",
                "value" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
              },
              "Object" : {
                "type" : "uri",
                "value" : "http://vocab.getty.edu/ontology#Subject"
              }
            }, {
              "Subject" : {
                "type" : "uri",
                "value" : "http://vocab.getty.edu/tgn/7017665"
              },
              "Predicate" : {
                "type" : "uri",
                "value" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
              },
              "Object" : {
                "type" : "uri",
          [...]
- request:
    method: post
    uri: https://vocab.getty.edu/sparql.json
    body:
      encoding: US-ASCII
      string: query=SELECT ?identifier_place ?place_label_default ?place_label_en
        ?aat_pref ?place_label_latn_pinyin WHERE {{<http://vocab.getty.edu/tgn/7029392>
        <http://purl.org/dc/elements/1.1/identifier> ?identifier_place . OPTIONAL
        {<http://vocab.getty.edu/tgn/7029392> <http://www.w3.org/2004/02/skos/core#prefLabel>
        ?place_label_en FILTER langMatches( la[...]
