---
http_interactions:
- request:
    method: get
    uri: http://id.loc.gov/authorities/names/n83017570
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://id.loc.gov/authorities/names/n83017570
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 10 Jun 2026 15:40:07 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n83017570
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - https://id.loc.gov/authorities/names/n83017570.jsonld
      X-Uri:
      - http://id.loc.gov/authorities/names/n83017570
      X-Preflabel:
      - McKim, Charles Follen, 1847-1909
      X-Preflabel-Escaped:
      - McKim, Charles Follen, 1847-1909
      X-Preflabel-Encoded:
      - McKim%2C%20Charles%20Follen%2C%201847-1909
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Jun 2026 15:40:07 GMT
- request:
    method: get
    uri: https://id.loc.gov/authorities/names/n83017570.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      X-Preflabel:
      - McKim, Charles Follen, 1847-1909
      X-Preflabel-Escaped:
      - McKim, Charles Follen, 1847-1909
      X-Preflabel-Encoded:
      - McKim%2C%20Charles%20Follen%2C%201847-1909
      X-Uri:
      -[...]
